@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");

/* src/index.css */
@import "./tailwind.css";

@layer base {
  html {
    font-family: "Pretendard Variable", system-ui, sans-serif;
  }
}

/* 크롬, 사파리, 엣지에서 비밀번호 input의 기본 눈 아이콘 제거 */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
}

/* 공통 input 스타일 */
.input-border {
  @apply w-full rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-[#6F00B6];
  border: 1px solid rgba(112, 115, 124, 0.22);
}

/* 공통 버튼 스타일 */
.button-border {
  @apply w-full py-3 rounded-lg font-semibold transition-colors;
  border: 1px solid rgba(112, 115, 124, 0.22);
}
